[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
Werkzeug = "==0.14.1"
flask = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
plotly = "*"
numpy = "*"
pandas = "*"
quandl = "*"
pandas-datareader = "==0.5.0"
rq = "*"

[dev-packages]

[requires]
python_version = "3.6"
