@media print
{
    * {-webkit-print-color-adjust:exact;}
    .container {
        margin-left: .75in;
    }
}

@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}
.header {
    margin: 0px auto;
    font-size: 25px;
    font-weight: bolder;
    padding-left: 10px; /* the space between the start of your logo and your text */
    padding-top: 20px; /* the vertical space between the top and your text, to center the logo*/
    display: block; /* very important since normally anchors are inline */
    height: 100px;
    border-bottom: 1px solid rgb(29, 14, 14);  

}
.header a {
    vertical-align: middle;
    padding-right: 30px;
}
.header img {
    height: 72px;
    width: 72px;
    vertical-align: middle;
}

body {
    font-family: 'Cousine', 'Georgia', serif;
    font-weight: normal;
    color: #222;
    font-size: 18px;
}

h1 {
    font-family: 'Cousine', 'Georgia', serif;
    font-weight: normal;
    color: #222;
    font-size: 22px;
    padding: 10px 0px 10px 0px;
    margin: 0;
}
a:link {
    color: #142031;
    text-decoration: none;
    font-family: 'Cousine', 'Georgia', serif;
    font-size: 18px;
}
a:visited {
    color: #142031;
}
a:hover {
    color: #040511;
}
   
@media (min-width: 90px) and (max-width: 712px) {
    .header {
        font-size: 14px;
    }
    .header a {
        vertical-align: middle;
        padding-right: 5px;
    }
    .header img {
        height: 48px;
        width: 48px;
        vertical-align: middle;
    }
    body {
        font-family: 'Cousine', 'Georgia', serif;
        font-weight: normal;
        color: #222;
        font-size: 14px;
    }
    h1 {
        font-family: 'Cousine', 'Georgia', serif;
        font-weight: normal;
        color: #222;
        font-size: 16px;
        padding: 10px 0px 10px 0px;
        margin: 0;
      }      
    h4 {
        font-size: 16px;
    }      
    a:link {
        color: #142031;
        text-decoration: none;
        font-family: 'Cousine', 'Georgia', serif;
        font-size: 16px;
    }
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}
.annotation {
    font-family: 'Cousine', 'Georgia', serif;
    font-size: 14px;
}
/*------------------------------------*\
	NAV
\*------------------------------------*/
.nav{
	list-style:none;
    font-weight:bolder;
	margin-bottom:10px;
	/* Clear floats */
	float:left;
    width:100%;
	/* Bring the nav above everything else--uncomment if needed.
	position:relative;
	z-index:5;
	*/
}
.nav li{
	float:left;
	margin-right:10px;
	position:relative;
}
.nav a{
	display:block;
	padding:5px;
	color:rgb(0, 0, 0);
    background: #ffffff;
	text-decoration:none;
}
.nav a:hover{
	color:rgb(0, 0, 0);
	background:#9b9b9b;
	text-decoration:underline;
}

/*--- DROPDOWN ---*/
.nav ul{
	background:#ffffff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
.nav ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
}
.nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
.nav li:hover ul{ /* Display the dropdown on hover */
	left:20px; /* Bring back on-screen when needed */
}
.nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background: #ffffff;
	text-decoration:underline;
}
.nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
.nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#b1b1b1;
}
.content {
    margin-left: 10px;
}
/* footer */
.footer {
    color: #666;  
    font-size: 60%;
    margin: 20px auto 10px auto; 
    padding: 5px 0;
    text-align: left;
    background: #F8F7F7;
    border-top: 1px solid rgb(29, 14, 14);  
}

.allocation {
    width: 250px; 
}

.assetList {
    width: 800px;
}

.portfolioTable {
    width: 800px;
}

.portfolio h4 {
    margin-top: 20px;
}


