{% extends "layout.html" %}
{% block body %}
<div class="content">
    <h1>{{title}}</h1>
    <p>Choose At Least Two Stocks:</p>
    <form action="{{ url_for('plot_correlation') }}" method="post">
        <div class="input-group">
        {% for s in symbols %}                      
        <div class="input-group-prepend">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" id="customCheckInline{{loop.index}}" name="ticker" value="{{s[0]}}" class="custom-control-input">
                <label class="custom-control-label" for="customCheckInline{{loop.index}}">{{s[1]}}</label>
            </div>        
        </div>
        {% endfor %}
        </div>
        <br/>
        <button class="btn btn-primary" type="submit">Show Correlations</button>
    </form>
    {% if scatter is defined %}
    <br/>
    <h4>Correlation of Portfolio Assets</h4>
    {{ scatter | safe }}
    {% endif %}
    <p class="annotation">{{annotation}}</p>
</div>
{% endblock %}
