<!doctype html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet'>
<link href='/static/style.css' rel='stylesheet'/>
<link rel="shortcut icon" href="/static/favicon.ico"/>
<title>{{title}}</title>
</head>
<body>
    {% include "header.html" %}
    <div class="content">
        <h1>{{title}}</h1>
        {{ chart|safe }}
        <p class="annotation">{{annotation}}</p>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </div>
    {% include "footer.html" %}
</body>
</html>
