<!doctype html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet'>
<link href='/static/style.css' rel='stylesheet'/>
<link rel="shortcut icon" href="/static/favicon.ico"/>
<title>Finance Tools</title>
</head>
<body>
    {% include "header.html" %}
    <div class="content">
    <h1>Finance Tools</h1>
    <ul class="nav">
        <li><a href="#">Charts</a>
            <ul>
                {% for s in symbols %}
                    <li><a href="{{ url_for('stock_chart',ticker=s) }}">{{ s }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="#">Analyses</a>
            <ul>
                <li><a href="{{ url_for('get_portfolio') }}">Portfolio Analysis</a></li>
            </ul>
        </li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    </div>
    {% include "footer.html" %}
</body>
</html>
