<!doctype html>
<html>
<head>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
{% include "stylelinks.html" %}
<title>Finance Tools</title>
</head>
<body>
<div class="container">
{% include "header.html" %}
{% block body %}
{% endblock %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="content">
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    </div>
  {% endif %}
{% endwith %}
{% include "footer.html" %}
</div>
</body>
{% block apps %}
{% endblock %}
</html>
