{% extends "layout.html" %}
{% block body %}
<div id="portfoliomgr"></div>
{% endblock %}
{% block apps %}
<script>
    const e = React.createElement;
    const symbolsapi = `{{ url_for('symbols') }}`;
    ReactDOM.render(e(fintools.PortfolioManager,{
        url:`{{ url_for('symbol_lookup') }}`,
        urlSave:`{{ url_for('save_portfolio') }}`,
        urlLoad:`{{ url_for('load_portfolio') }}`,
        saveLocal: false,
        showWeights: true,
        reprice: true   
    }),
    document.getElementById('portfoliomgr'));
</script>
    
{% endblock %}

